// Application-level settings for the Runner target.

// The application's name. By default this is also the title of the Flutter window.
PRODUCT_NAME = Flutterby

// The application's bundle identifier
PRODUCT_BUNDLE_IDENTIFIER = app.flutterby.explorer

// The copyright displayed in application information
PRODUCT_COPYRIGHT = Copyright © 2026 Flutterby. All rights reserved.
